Lucas Marx T. Freitas 2018015570

In [73]:
def exercicio_1(n):
    T = ()
    for x in range (1,n+1):
        Z = x ,x**2
        T += Z,
        y = list(T)
    return y

[(1, 1), (2, 4), (3, 9)]

In [74]:
def exercicio_2(n):
    T = ()
    for x in range (1,n+1):
        Z = x ,x**2,x**3
        T += Z,
        y = list(T)
    return y

[(1, 1, 1), (2, 4, 8), (3, 9, 27)]

In [8]:
def exercicio_3():
    tupla = (1,2,3,4,5,6,7,8,9,10) 
    tam1 = len(tupla)
    tam2 = tam1//2
    fix = tam2
    T1 = ()
    T2 = ()
    copo1 = ()
    copo2 = ()
    for x in range (0,fix):
        copo1 += tupla[x],
        T1 = copo1
        string1 = (T1)
    for y in range (fix,tam1):
        copo2 += tupla[y],
        T2 = copo2
        string2 = (T2)
    return("%s \n%s " % (string1, string2))

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [77]:
def exercicio_4(t):
    length = len(t)
    sort = sorted(t)
    x = ()
    y = ()
    z = ()
    w = ()
    for b in range(0,length):
        if sort[b] %2 == 0:
            z += sort[b],
            x = z
        if sort[b] %2 != 0:
            w += sort[b],
            y = w
    return(x,y)

(2, 6)
(3, 5, 7)

In [37]:
def exercicio_5_1(l):
    h = len(l)
    l = tuple(l)
    g = ()
    x = () 
    for y in range(0,h):
        g += l,
        x += g[y]
        return x

(23, 24, 25)

In [79]:
def exercicio_5_2(l):
    copia = tuple(l)   
    return copia

(23, 24, 25)

In [82]:
def exercicio_6(l, n):
    extra = (n,)
    length = len(l)
    t=()
    y=()
    for x in range (0,length):
        t = l[x][:-1] + extra
        y += t,
        g = list(y)
    return(g)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [4]:
def exercicio_7(cotacao):  
    a = 0
    b = 0
    c = 0
    d = 0
    for s in range (1,101):
        a = s/cotacao
        a = ("%.02f" %a)
        b = s
        c = s
        d = s*cotacao
        d = ("%.02f" %d)
        if b <= 2: 
            print("US$",c,"= R$",d, "       R$",b,"= US$",a ) #(repetição de print estética, o exercicio segue válido com apenas um par englobando todos os valores)
            print("-------------------    -----------------") 
        if 2 < b < 10: 
            print("US$",c,"= R$",d, "      R$",b,"= US$",a )
            print("-------------------    -----------------")
        if  10 <= b <= 25: 
            print("US$",c,"= R$",d, "     R$",b,"= US$",a )
            print("-------------------    -----------------")
        if  25 < b <= 99: 
            print("US$",c,"= R$",d, "    R$",b,"= US$",a )
            print("-------------------    ------------------")
        if b == 100:
            print("US$",c,"= R$",d, "   R$",b,"= US$",a )
            print("-------------------    ------------------")

US$ 1 = R$ 3.98        R$ 1 = US$ 0.25
-------------------    -----------------
US$ 2 = R$ 7.96        R$ 2 = US$ 0.50
-------------------    -----------------
US$ 3 = R$ 11.94       R$ 3 = US$ 0.75
-------------------    -----------------
US$ 4 = R$ 15.92       R$ 4 = US$ 1.01
-------------------    -----------------
US$ 5 = R$ 19.90       R$ 5 = US$ 1.26
-------------------    -----------------
US$ 6 = R$ 23.88       R$ 6 = US$ 1.51
-------------------    -----------------
US$ 7 = R$ 27.86       R$ 7 = US$ 1.76
-------------------    -----------------
US$ 8 = R$ 31.84       R$ 8 = US$ 2.01
-------------------    -----------------
US$ 9 = R$ 35.82       R$ 9 = US$ 2.26
-------------------    -----------------
US$ 10 = R$ 39.80      R$ 10 = US$ 2.51
-------------------    -----------------
US$ 11 = R$ 43.78      R$ 11 = US$ 2.76
-------------------    -----------------
US$ 12 = R$ 47.76      R$ 12 = US$ 3.02
-------------------    -----------------
US$ 13 = R$ 51.74      R$ 13 = US$ 3.27
-------------------    -----------------
US$ 14 = R$ 55.72      R$ 14 = US$ 3.52
-------------------    -----------------
US$ 15 = R$ 59.70      R$ 15 = US$ 3.77
-------------------    -----------------
US$ 16 = R$ 63.68      R$ 16 = US$ 4.02
-------------------    -----------------
US$ 17 = R$ 67.66      R$ 17 = US$ 4.27
-------------------    -----------------
US$ 18 = R$ 71.64      R$ 18 = US$ 4.52
-------------------    -----------------
US$ 19 = R$ 75.62      R$ 19 = US$ 4.77
-------------------    -----------------
US$ 20 = R$ 79.60      R$ 20 = US$ 5.03
-------------------    -----------------
US$ 21 = R$ 83.58      R$ 21 = US$ 5.28
-------------------    -----------------
US$ 22 = R$ 87.56      R$ 22 = US$ 5.53
-------------------    -----------------
US$ 23 = R$ 91.54      R$ 23 = US$ 5.78
-------------------    -----------------
US$ 24 = R$ 95.52      R$ 24 = US$ 6.03
-------------------    -----------------
US$ 25 = R$ 99.50      R$ 25 = US$ 6.28
-------------------    -----------------
US$ 26 = R$ 103.48     R$ 26 = US$ 6.53
-------------------    ------------------
US$ 27 = R$ 107.46     R$ 27 = US$ 6.78
-------------------    ------------------
US$ 28 = R$ 111.44     R$ 28 = US$ 7.04
-------------------    ------------------
US$ 29 = R$ 115.42     R$ 29 = US$ 7.29
-------------------    ------------------
US$ 30 = R$ 119.40     R$ 30 = US$ 7.54
-------------------    ------------------
US$ 31 = R$ 123.38     R$ 31 = US$ 7.79
-------------------    ------------------
US$ 32 = R$ 127.36     R$ 32 = US$ 8.04
-------------------    ------------------
US$ 33 = R$ 131.34     R$ 33 = US$ 8.29
-------------------    ------------------
US$ 34 = R$ 135.32     R$ 34 = US$ 8.54
-------------------    ------------------
US$ 35 = R$ 139.30     R$ 35 = US$ 8.79
-------------------    ------------------
US$ 36 = R$ 143.28     R$ 36 = US$ 9.05
-------------------    ------------------
US$ 37 = R$ 147.26     R$ 37 = US$ 9.30
-------------------    ------------------
US$ 38 = R$ 151.24     R$ 38 = US$ 9.55
-------------------    ------------------
US$ 39 = R$ 155.22     R$ 39 = US$ 9.80
-------------------    ------------------
US$ 40 = R$ 159.20     R$ 40 = US$ 10.05
-------------------    ------------------
US$ 41 = R$ 163.18     R$ 41 = US$ 10.30
-------------------    ------------------
US$ 42 = R$ 167.16     R$ 42 = US$ 10.55
-------------------    ------------------
US$ 43 = R$ 171.14     R$ 43 = US$ 10.80
-------------------    ------------------
US$ 44 = R$ 175.12     R$ 44 = US$ 11.06
-------------------    ------------------
US$ 45 = R$ 179.10     R$ 45 = US$ 11.31
-------------------    ------------------
US$ 46 = R$ 183.08     R$ 46 = US$ 11.56
-------------------    ------------------
US$ 47 = R$ 187.06     R$ 47 = US$ 11.81
-------------------    ------------------
US$ 48 = R$ 191.04     R$ 48 = US$ 12.06
-------------------    ------------------
US$ 49 = R$ 195.02     R$ 49 = US$ 12.31
-------------------    ------------------
US$ 50 = R$ 199.00     R$ 50 = US$ 12.56
-------------------    ------------------
US$ 51 = R$ 202.98     R$ 51 = US$ 12.81
-------------------    ------------------
US$ 52 = R$ 206.96     R$ 52 = US$ 13.07
-------------------    ------------------
US$ 53 = R$ 210.94     R$ 53 = US$ 13.32
-------------------    ------------------
US$ 54 = R$ 214.92     R$ 54 = US$ 13.57
-------------------    ------------------
US$ 55 = R$ 218.90     R$ 55 = US$ 13.82
-------------------    ------------------
US$ 56 = R$ 222.88     R$ 56 = US$ 14.07
-------------------    ------------------
US$ 57 = R$ 226.86     R$ 57 = US$ 14.32
-------------------    ------------------
US$ 58 = R$ 230.84     R$ 58 = US$ 14.57
-------------------    ------------------
US$ 59 = R$ 234.82     R$ 59 = US$ 14.82
-------------------    ------------------
US$ 60 = R$ 238.80     R$ 60 = US$ 15.08
-------------------    ------------------
US$ 61 = R$ 242.78     R$ 61 = US$ 15.33
-------------------    ------------------
US$ 62 = R$ 246.76     R$ 62 = US$ 15.58
-------------------    ------------------
US$ 63 = R$ 250.74     R$ 63 = US$ 15.83
-------------------    ------------------
US$ 64 = R$ 254.72     R$ 64 = US$ 16.08
-------------------    ------------------
US$ 65 = R$ 258.70     R$ 65 = US$ 16.33
-------------------    ------------------
US$ 66 = R$ 262.68     R$ 66 = US$ 16.58
-------------------    ------------------
US$ 67 = R$ 266.66     R$ 67 = US$ 16.83
-------------------    ------------------
US$ 68 = R$ 270.64     R$ 68 = US$ 17.09
-------------------    ------------------
US$ 69 = R$ 274.62     R$ 69 = US$ 17.34
-------------------    ------------------
US$ 70 = R$ 278.60     R$ 70 = US$ 17.59
-------------------    ------------------
US$ 71 = R$ 282.58     R$ 71 = US$ 17.84
-------------------    ------------------
US$ 72 = R$ 286.56     R$ 72 = US$ 18.09
-------------------    ------------------
US$ 73 = R$ 290.54     R$ 73 = US$ 18.34
-------------------    ------------------
US$ 74 = R$ 294.52     R$ 74 = US$ 18.59
-------------------    ------------------
US$ 75 = R$ 298.50     R$ 75 = US$ 18.84
-------------------    ------------------
US$ 76 = R$ 302.48     R$ 76 = US$ 19.10
-------------------    ------------------
US$ 77 = R$ 306.46     R$ 77 = US$ 19.35
-------------------    ------------------
US$ 78 = R$ 310.44     R$ 78 = US$ 19.60
-------------------    ------------------
US$ 79 = R$ 314.42     R$ 79 = US$ 19.85
-------------------    ------------------
US$ 80 = R$ 318.40     R$ 80 = US$ 20.10
-------------------    ------------------
US$ 81 = R$ 322.38     R$ 81 = US$ 20.35
-------------------    ------------------
US$ 82 = R$ 326.36     R$ 82 = US$ 20.60
-------------------    ------------------
US$ 83 = R$ 330.34     R$ 83 = US$ 20.85
-------------------    ------------------
US$ 84 = R$ 334.32     R$ 84 = US$ 21.11
-------------------    ------------------
US$ 85 = R$ 338.30     R$ 85 = US$ 21.36
-------------------    ------------------
US$ 86 = R$ 342.28     R$ 86 = US$ 21.61
-------------------    ------------------
US$ 87 = R$ 346.26     R$ 87 = US$ 21.86
-------------------    ------------------
US$ 88 = R$ 350.24     R$ 88 = US$ 22.11
-------------------    ------------------
US$ 89 = R$ 354.22     R$ 89 = US$ 22.36
-------------------    ------------------
US$ 90 = R$ 358.20     R$ 90 = US$ 22.61
-------------------    ------------------
US$ 91 = R$ 362.18     R$ 91 = US$ 22.86
-------------------    ------------------
US$ 92 = R$ 366.16     R$ 92 = US$ 23.12
-------------------    ------------------
US$ 93 = R$ 370.14     R$ 93 = US$ 23.37
-------------------    ------------------
US$ 94 = R$ 374.12     R$ 94 = US$ 23.62
-------------------    ------------------
US$ 95 = R$ 378.10     R$ 95 = US$ 23.87
-------------------    ------------------
US$ 96 = R$ 382.08     R$ 96 = US$ 24.12
-------------------    ------------------
US$ 97 = R$ 386.06     R$ 97 = US$ 24.37
-------------------    ------------------
US$ 98 = R$ 390.04     R$ 98 = US$ 24.62
-------------------    ------------------
US$ 99 = R$ 394.02     R$ 99 = US$ 24.87
-------------------    ------------------
US$ 100 = R$ 398.00    R$ 100 = US$ 25.13
-------------------    ------------------

In [10]:
def exercicio_7_2(cotacao): #modelo antigo
    a = 0
    b = 0
    c = 0
    d = 0
    reaisd = [a,b]
    dolarr = [c,d]
    final = ()
    for s in range (1,100):
        a = s*cotacao
        b = s
        reaisd = (a,b)
        c = s
        d = s*cotacao
        dolarr = (c,d)
        final += (reaisd , dolarr),
        x = list(final)
    print(x)

[((3.98, 1), (1, 3.98)), ((7.96, 2), (2, 7.96)), ((11.94, 3), (3, 11.94)), ((15.92, 4), (4, 15.92)), ((19.9, 5), (5, 19.9)), ((23.88, 6), (6, 23.88)), ((27.86, 7), (7, 27.86)), ((31.84, 8), (8, 31.84)), ((35.82, 9), (9, 35.82)), ((39.8, 10), (10, 39.8)), ((43.78, 11), (11, 43.78)), ((47.76, 12), (12, 47.76)), ((51.74, 13), (13, 51.74)), ((55.72, 14), (14, 55.72)), ((59.7, 15), (15, 59.7)), ((63.68, 16), (16, 63.68)), ((67.66, 17), (17, 67.66)), ((71.64, 18), (18, 71.64)), ((75.62, 19), (19, 75.62)), ((79.6, 20), (20, 79.6)), ((83.58, 21), (21, 83.58)), ((87.56, 22), (22, 87.56)), ((91.54, 23), (23, 91.54)), ((95.52, 24), (24, 95.52)), ((99.5, 25), (25, 99.5)), ((103.48, 26), (26, 103.48)), ((107.46, 27), (27, 107.46)), ((111.44, 28), (28, 111.44)), ((115.42, 29), (29, 115.42)), ((119.4, 30), (30, 119.4)), ((123.38, 31), (31, 123.38)), ((127.36, 32), (32, 127.36)), ((131.34, 33), (33, 131.34)), ((135.32, 34), (34, 135.32)), ((139.3, 35), (35, 139.3)), ((143.28, 36), (36, 143.28)), ((147.26, 37), (37, 147.26)), ((151.24, 38), (38, 151.24)), ((155.22, 39), (39, 155.22)), ((159.2, 40), (40, 159.2)), ((163.18, 41), (41, 163.18)), ((167.16, 42), (42, 167.16)), ((171.14, 43), (43, 171.14)), ((175.12, 44), (44, 175.12)), ((179.1, 45), (45, 179.1)), ((183.08, 46), (46, 183.08)), ((187.06, 47), (47, 187.06)), ((191.04, 48), (48, 191.04)), ((195.02, 49), (49, 195.02)), ((199.0, 50), (50, 199.0)), ((202.98, 51), (51, 202.98)), ((206.96, 52), (52, 206.96)), ((210.94, 53), (53, 210.94)), ((214.92, 54), (54, 214.92)), ((218.9, 55), (55, 218.9)), ((222.88, 56), (56, 222.88)), ((226.85999999999999, 57), (57, 226.85999999999999)), ((230.84, 58), (58, 230.84)), ((234.82, 59), (59, 234.82)), ((238.8, 60), (60, 238.8)), ((242.78, 61), (61, 242.78)), ((246.76, 62), (62, 246.76)), ((250.74, 63), (63, 250.74)), ((254.72, 64), (64, 254.72)), ((258.7, 65), (65, 258.7)), ((262.68, 66), (66, 262.68)), ((266.66, 67), (67, 266.66)), ((270.64, 68), (68, 270.64)), ((274.62, 69), (69, 274.62)), ((278.6, 70), (70, 278.6)), ((282.58, 71), (71, 282.58)), ((286.56, 72), (72, 286.56)), ((290.54, 73), (73, 290.54)), ((294.52, 74), (74, 294.52)), ((298.5, 75), (75, 298.5)), ((302.48, 76), (76, 302.48)), ((306.46, 77), (77, 306.46)), ((310.44, 78), (78, 310.44)), ((314.42, 79), (79, 314.42)), ((318.4, 80), (80, 318.4)), ((322.38, 81), (81, 322.38)), ((326.36, 82), (82, 326.36)), ((330.34, 83), (83, 330.34)), ((334.32, 84), (84, 334.32)), ((338.3, 85), (85, 338.3)), ((342.28, 86), (86, 342.28)), ((346.26, 87), (87, 346.26)), ((350.24, 88), (88, 350.24)), ((354.21999999999997, 89), (89, 354.21999999999997)), ((358.2, 90), (90, 358.2)), ((362.18, 91), (91, 362.18)), ((366.16, 92), (92, 366.16)), ((370.14, 93), (93, 370.14)), ((374.12, 94), (94, 374.12)), ((378.1, 95), (95, 378.1)), ((382.08, 96), (96, 382.08)), ((386.06, 97), (97, 386.06)), ((390.04, 98), (98, 390.04)), ((394.02, 99), (99, 394.02))]