# Aluno: Marcos Vinicius Reis Guimaraes Leite  MAT: 2018085870
Turma: TB1 Engenharia Ambiental

In [19]:
print("Exercicio 1")
print("1.1)x    y     x>=y")
print("1.2)x    y     x<=y")
print("1.3)x    y     x!=y")
print("1.4)x    y     x>=0 or x<=infinito")
print("1.5)x    y     a=x>0; b=y>0, not a or b")
print("1.6)x    y     a=x<=0; b=y>=0, not a or b and not b or a")

Exercicio 1
1.1)x    y     x>=y
1.2)x    y     x<=y
1.3)x    y     x!=y
1.4)x    y     x>=0 or x<=infinito
1.5)x    y     a=x>0; b=y>0, not a or b
1.6)x    y     a=x<=0; b=y>=0, not a or b and not b or a

In [57]:
print ("Exercicio 2.1")
print ( " x    y     x>=y ")
x = 750; y = 218 
print (x, " " ,y, " " , x>=y)
x = 750; y = 750 
print (x, " " ,y, " " , x>=y)
x = 218; y = 750
print (x, " " ,y, " " , x>=y)
x = 218; y = 218
print (x, " " ,y, " " , x>=y)

Exercicio 2.1
 x    y     x>=y
750   218   True
750   750   True
218   750   False
218   218   True

In [58]:
print ("Exercicio 2.2")
print ( " x    y     x<=y ")
x = 750; y = 218 
print (x, " " ,y, " " , x<=y)
x = 750; y = 750 
print (x, " " ,y, " " , x<=y)
x = 218; y = 750
print (x, " " ,y, " " , x<=y)
x = 218; y = 218
print (x, " " ,y, " " , x<=y)

Exercicio 2.2
 x    y     x<=y
750   218   False
750   750   True
218   750   True
218   218   True

In [59]:
print ("Exercicio 2.3")
print ( " x    y     x!=y ")
x = 750; y = 218 
print (x, " " ,y, " " , x!=y)
x = 750; y = 750 
print (x, " " ,y, " " , x!=y)
x = 218; y = 750
print (x, " " ,y, " " , x!=y)
x = 218; y = 218
print (x, " " ,y, " " , x!=y)

Exercicio 2.3
 x    y     x!=y
750   218   True
750   750   False
218   750   True
218   218   False

In [60]:
print ("Exercicio 2.4")
print ( " x    y     x>=0 or x<=infinito ")
x = 750; y = 218 
print (x, " " ,y, " " , x>=0 or x<=infinito)
x = 750; y = 750  
print (x, " " ,y, " " , x>=0 or x<=infinito)
x = 218; y = 750
print (x, " " ,y, " " , x>=0 or x<=infinito)
x = 218; y = 218
print (x, " " ,y, " " , x>=0 or x<=infinito)

Exercicio 2.4
 x    y     x>=0 or x<=infinito
750   218   True
750   750   True
218   750   True
218   218   True

In [61]:
print ("Exercicio 2.5")
print ( "x      y     a=x>0; b=y>0, not a or b")
x = 750; y = 218; a=x>0; b=y>0
print (x, " " ,y, " " , x>0, y>=0, not a or b)
x = 750; y = 750; a=x>0; b=y>0
print (x, " " ,y, " " , x>0, y>=0, not a or b)
x = 218; y = 750; a=x>0; b=y>0
print (x, " " ,y, " " , x>0, y>=0, not a or b)
x = 218; y = 218; a=x>0; b=y>0
print (x, " " ,y, " " , x>0, y>=0, not a or b)

Exercicio 2.5
x      y     a=x>0; b=y>0, not a or b
750   218   True True True
750   750   True True True
218   750   True True True
218   218   True True True

In [62]:
print ("Exercicio 2.6")
print ( "x      y     a=x<=0; b=y>=0, not a or b and not b or a")
x = 750; y = 218; a=x<=0; b=y>=0 
print (x, " " ,y, " " , x<=0, y>=0, not a or b and not b or a)
x = 750; y = 750; a=x<=0; b=y>=0 
print (x, " " ,y, " " , x<=0, y>=0, not a or b and not b or a)
x = 218; y = 750; a=x<=0; b=y>=0 
print (x, " " ,y, " " , x<=0, y>=0, not a or b and not b or a)
x = 218; y = 218; a=x<=0; b=y>=0 
print (x, " " ,y, " " , x<=0, y>=0, not a or b and not b or a)

Exercicio 2.6
x      y     a=x<=0; b=y>=0, not a or b and not b or a
750   218   False True True
750   750   False True True
218   750   False True True
218   218   False True True

In [45]:
print("Exercicio 3.1")
print("Tabela de verdade da operação lógica XOR:")
a=False; b=False
print(a," ",b," ", (a and not b) or (not a and b))
a=False; b=True
print(a," ",b," ", (a and not b) or (not a and b))
a=True;  b=False
print(a," ",b," ", (a and not b) or (not a and b))
a=True;  b=True
print(a," ",b," ", (a and not b) or (not a and b))

Exercicio 3.1
Tabela de verdade da operação lógica XOR:
False   False   False
False   True   True
True   False   True
True   True   False

In [65]:
print("Exercicio 3.2")
print ("x>0   y<0  XOR")
x=750; y=218; a=x>0; b=y<0
print (x>0, y<0, not (a and b) and (not (not a and not b)))
x=750; y=218; a=x>0; b=y<0
print (x>0, y<0, not (a and b) and (not (not a and not b)))
x=750; y=218; a=x>0; b=y<0
print (x>0, y<0, not (a and b) and (not (not a and not b)))

Exercicio 3.2
x>0   y<0  XOR
True False True
True False True
True False True

In [81]:
print ("Exercicio 4")

a=False; b=False
print(a," ",b," ", (not a and not b) or (a and not b))
a=False; b=True
print(a," ",b," ", (not a and not b) or (a and not b))
a=True;  b=False
print(a," ",b," ", (not a and not b) or (a and not b))
a=True;  b=True
print(a," ",b," ", (not a and b) or (a and b))

Exercicio 4
False   False   True
False   True   False
True   False   True
True   True   True

In [84]:
print ("Exercicio 5")

print ("5.1- not(x<=y)")
print ("5.2- not(x>y)")
print ("5.3- x>=y and x<y")
print ("5.4- x<=y or x>y")
print ("5.5- x>=0 and x<=10")
print ("5.6- a or not b")
print ("5.7- not b or a")
print ("5.8- not(not a or b)")
print ("5.9- not a or not b")

Exercicio 5
5.1- not(x<=y)
5.2- not(x>y)
5.3- x>=y and x<y
5.4- x<=y or x>y
5.5- x>=0 and x<=10
5.6- a or not b
5.7- not b or a
5.8- not(not a or b)
5.9- not a or not b

In [80]:
print ("Exercicio 6")

print("5.6")
x=750; y=218; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
x=-218; y=-750; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
x=218; y=-218; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
x=-218; y=750; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
print("--------------------------------")
print("5.7")
x=750; y=218; a=x>0; b=y>=0
print (x>0, y>=0, not b or a)
x=-218; y=-750; a=x>0; b=y>=0
print (x>0, y>=0, not b or a)
x=218; y=-218; a=x>0; b=y>=0
print (x>0, y>=0, not b or a)
x=-218; y=750; a=x>0; b=y>=0
print (x>0, y>=0, not b or a)
print("--------------------------------")
print("5.8")
x=750; y=218; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
x=-218; y=-750; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
x=218; y=-218; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
x=-218; y=750; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
print("--------------------------------")
print("5.9")
x=750; y=218; a=x>0; b=y>=0
print (x>0, y>=0,not a or not b)
x=-218; y=-750; a=x>0; b=y>=0
print (x>0, y>=0,not a or not b)
x=218; y=-218; a=x>0; b=y>=0
print (x>0, y>=0,not a or not b)
x=-218; y=750; a=x>0; b=y>=0
print (x>0, y>=0,not a or not b)

Exercicio 6
5.6
True True False
False False False
True False True
False True False
--------------------------------
5.7
True True True
False False True
True False True
False True False
--------------------------------
5.8
True True False
False False False
True False True
False True False
--------------------------------
5.9
True True False
False False True
True False True
False True True

In [86]:
print ("Exercicio 7")

print("As expressoes equivalentes entre si sao expressoes que possuem formulas diferentes, porem resultam em uma mesma tabela")

print("5.6")
x=750; y=218; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
x=-218; y=-750; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
x=218; y=-218; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
x=-218; y=750; a=x>0; b=y>=0
print (x>0, y>=0, a and not b)
print("--------------------------------")
print("5.8")
x=750; y=218; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
x=-218; y=-750; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
x=218; y=-218; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
x=-218; y=750; a=x>0; b=y>=0
print(x>0, y>=0, not(not a or b))
print("--------------------------------")

print("Dessa forma, como ambas tabelas são iguais, podemos afirmar que o 5.6) e o 5.8) sao equivalentes entre si")

Exercicio 7
As expressoes equivalentes entre si sao expressoes que possuem formulas diferentes, porem resultam em uma mesma tabela
5.6
True True False
False False False
True False True
False True False
--------------------------------
5.8
True True False
False False False
True False True
False True False
--------------------------------
Dessa forma, como ambas tabelas são iguais, podemos afirmar que o 5.6) e o 5.8) sao equivalentes entre si

In [89]:
print ("Exercicio 8")

print("se not(a and b) é igual a (not a or not b) entao as tabelas resultantes devem ser iguais)")
print("--------------------------------")
print("tabela not(a and b)")
a=False; b=False
print(a," ",b," ", not(a and b))
a=False; b=True
print(a," ",b," ", not(a and b))
a=True;  b=False
print(a," ",b," ", not(a and b))
a=True;  b=True
print(a," ",b," ", not(a and b))
print("--------------------------------")
print("tabela (not a or not b)")
a=False; b=False
print(a," ",b," ", (not a or not b))
a=False; b=True
print(a," ",b," ", (not a or not b))
a=True;  b=False
print(a," ",b," ", (not a or not b))
a=True;  b=True
print(a," ",b," ", (not a or not b))
print("--------------------------------")
print("se not(a or b) é igual a (not a and not b) entao as tabelas resultantes devem ser iguais)")
print("tabela not(a or b)")
a=False; b=False
print(a," ",b," ", not(a or b))
a=False; b=True
print(a," ",b," ", not(a or b))
a=True;  b=False
print(a," ",b," ", not(a or b))
a=True;  b=True
print(a," ",b," ", not(a or b))
print("--------------------------------")
print("tabela (not a and not b)")
a=False; b=False
print(a," ",b," ", (not a and not b))
a=False; b=True
print(a," ",b," ", (not a and not b))
a=True;  b=False
print(a," ",b," ", (not a and not b))
a=True;  b=True
print(a," ",b," ", (not a and not b))
print("--------------------------------")
print("Dessa forma, se as tabelas são iguais, podemos afirmar que o Teorema de Morgan é válido")

Exercicio 8
se not(a and b) é igual a (not a or not b) entao as tabelas resultantes devem ser iguais)
--------------------------------
tabela not(a and b)
False   False   True
False   True   True
True   False   True
True   True   False
--------------------------------
tabela (not a or not b)
False   False   True
False   True   True
True   False   True
True   True   False
--------------------------------
se not(a or b) é igual a (not a and not b) entao as tabelas resultantes devem ser iguais)
tabela not(a or b)
False   False   True
False   True   False
True   False   False
True   True   False
--------------------------------
tabela (not a and not b)
False   False   True
False   True   False
True   False   False
True   True   False
--------------------------------
Dessa forma, se as tabelas são iguais, podemos afirmar que o Teorema de Morgan é válido