Aluna: Gabriele de Aguilar Honorato
Matrícula: 2018015871

Exercício 1

In [24]:
def ex_1(x):
    lista = [] 
    for i in range (1,x+1): 
        lista += [(i, i**2)]
    return lista
print (ex_1(8))

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

Exercício 2

In [26]:
def ex_2(x):
    lista = [] 
    for i in range (1,x+1): 
        lista += [(i, i**2, i**3)]
    return lista
print (ex_2(8))

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512)]

Exercício 3

In [10]:
def ex_3():
    tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
    return tupla    
print (ex_3()[0:5]) 
print (ex_3()[5:10])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

Exercício 4

In [14]:
def ex_4(lista):
    lista = [[], []]
pares = []
impares = []
for x in range(1, 11):
    num = int(input('digite um número: '))
    if num % 2 == 0:
        pares.append(num)
    else:
        impares.append(num)
i = tuple(pares)
k = tuple(impares)
print (i,k)

digite um número: 1
digite um número: 2
digite um número: 3
digite um número: 4
digite um número: 5
digite um número: 6
digite um número: 7
digite um número: 8
digite um número: 9
digite um número: 10
(2, 4, 6, 8, 10) (1, 3, 5, 7, 9)

Exercício 5

In [77]:
def ex_5_1():
    tupla = (2, 3, 5, 7, 9, 11)
    return tupla 
print (ex_5_1())

(2, 3, 5, 7, 9, 11)

In [79]:
def ex_5_2():
    lista = [2, 3, 5, 7, 9, 11] 
T = tuple(lista) 
print(T)

(2, 3, 5, 7, 9, 11)

Exercício 6

In [7]:
def ex_6(lista,num):
    num = 100
lista = [(20,18,15), (8,71,69), (871,12,23)] 
lista_2 = [] 
g,a,h = lista 
g1 = list(g)
g1[2] = 100
g2 = tuple(g1)
a1 = list(a)
a1[2] = 100
a2 = tuple(a1)
h1 = list(h)
h1[2] = 100
h2 = tuple(h1)
tupla = (g2,a2,h2)
lista_2.append(tupla) 
print(lista_2)

[((20, 18, 100), (8, 71, 100), (871, 12, 100))]

Exercício 7

In [22]:
def ex_7():
    dolar = float(input("Informe a quantidade de dólar para conversão: US$"))
cotacao = float(input ("Informe o valor da cotação do dólar:R$ "))
real = 0
dolar = []
for dolar in range (1, 101):
    real = dolar*cotacao
    tupla = (dolar, real)
    print ("US$ %.2d = R$%.2f" % (dolar, real))

Informe o valor da cotação do dólar:R$ 3.71
US$ 01 = R$3.71
US$ 02 = R$7.42
US$ 03 = R$11.13
US$ 04 = R$14.84
US$ 05 = R$18.55
US$ 06 = R$22.26
US$ 07 = R$25.97
US$ 08 = R$29.68
US$ 09 = R$33.39
US$ 10 = R$37.10
US$ 11 = R$40.81
US$ 12 = R$44.52
US$ 13 = R$48.23
US$ 14 = R$51.94
US$ 15 = R$55.65
US$ 16 = R$59.36
US$ 17 = R$63.07
US$ 18 = R$66.78
US$ 19 = R$70.49
US$ 20 = R$74.20
US$ 21 = R$77.91
US$ 22 = R$81.62
US$ 23 = R$85.33
US$ 24 = R$89.04
US$ 25 = R$92.75
US$ 26 = R$96.46
US$ 27 = R$100.17
US$ 28 = R$103.88
US$ 29 = R$107.59
US$ 30 = R$111.30
US$ 31 = R$115.01
US$ 32 = R$118.72
US$ 33 = R$122.43
US$ 34 = R$126.14
US$ 35 = R$129.85
US$ 36 = R$133.56
US$ 37 = R$137.27
US$ 38 = R$140.98
US$ 39 = R$144.69
US$ 40 = R$148.40
US$ 41 = R$152.11
US$ 42 = R$155.82
US$ 43 = R$159.53
US$ 44 = R$163.24
US$ 45 = R$166.95
US$ 46 = R$170.66
US$ 47 = R$174.37
US$ 48 = R$178.08
US$ 49 = R$181.79
US$ 50 = R$185.50
US$ 51 = R$189.21
US$ 52 = R$192.92
US$ 53 = R$196.63
US$ 54 = R$200.34
US$ 55 = R$204.05
US$ 56 = R$207.76
US$ 57 = R$211.47
US$ 58 = R$215.18
US$ 59 = R$218.89
US$ 60 = R$222.60
US$ 61 = R$226.31
US$ 62 = R$230.02
US$ 63 = R$233.73
US$ 64 = R$237.44
US$ 65 = R$241.15
US$ 66 = R$244.86
US$ 67 = R$248.57
US$ 68 = R$252.28
US$ 69 = R$255.99
US$ 70 = R$259.70
US$ 71 = R$263.41
US$ 72 = R$267.12
US$ 73 = R$270.83
US$ 74 = R$274.54
US$ 75 = R$278.25
US$ 76 = R$281.96
US$ 77 = R$285.67
US$ 78 = R$289.38
US$ 79 = R$293.09
US$ 80 = R$296.80
US$ 81 = R$300.51
US$ 82 = R$304.22
US$ 83 = R$307.93
US$ 84 = R$311.64
US$ 85 = R$315.35
US$ 86 = R$319.06
US$ 87 = R$322.77
US$ 88 = R$326.48
US$ 89 = R$330.19
US$ 90 = R$333.90
US$ 91 = R$337.61
US$ 92 = R$341.32
US$ 93 = R$345.03
US$ 94 = R$348.74
US$ 95 = R$352.45
US$ 96 = R$356.16
US$ 97 = R$359.87
US$ 98 = R$363.58
US$ 99 = R$367.29
US$ 100 = R$371.00

In [25]:
def ex_7(num):
    num = 3.71
    dolar = float(input("Informe a quantidade de dólar para conversão: US$"))
cotacao = float(input ("Informe o valor da cotação do dólar:R$ "))
real = 0
dolar = []
for dolar in range (1, 101):
    real = dolar*cotacao
    tupla = (dolar, real)
    print ("R$ %.2d = US$%.2f" % (dolar, real))

Informe o valor da cotação do dólar:R$ 3.71
R$ 01 = US$3.71
R$ 02 = US$7.42
R$ 03 = US$11.13
R$ 04 = US$14.84
R$ 05 = US$18.55
R$ 06 = US$22.26
R$ 07 = US$25.97
R$ 08 = US$29.68
R$ 09 = US$33.39
R$ 10 = US$37.10
R$ 11 = US$40.81
R$ 12 = US$44.52
R$ 13 = US$48.23
R$ 14 = US$51.94
R$ 15 = US$55.65
R$ 16 = US$59.36
R$ 17 = US$63.07
R$ 18 = US$66.78
R$ 19 = US$70.49
R$ 20 = US$74.20
R$ 21 = US$77.91
R$ 22 = US$81.62
R$ 23 = US$85.33
R$ 24 = US$89.04
R$ 25 = US$92.75
R$ 26 = US$96.46
R$ 27 = US$100.17
R$ 28 = US$103.88
R$ 29 = US$107.59
R$ 30 = US$111.30
R$ 31 = US$115.01
R$ 32 = US$118.72
R$ 33 = US$122.43
R$ 34 = US$126.14
R$ 35 = US$129.85
R$ 36 = US$133.56
R$ 37 = US$137.27
R$ 38 = US$140.98
R$ 39 = US$144.69
R$ 40 = US$148.40
R$ 41 = US$152.11
R$ 42 = US$155.82
R$ 43 = US$159.53
R$ 44 = US$163.24
R$ 45 = US$166.95
R$ 46 = US$170.66
R$ 47 = US$174.37
R$ 48 = US$178.08
R$ 49 = US$181.79
R$ 50 = US$185.50
R$ 51 = US$189.21
R$ 52 = US$192.92
R$ 53 = US$196.63
R$ 54 = US$200.34
R$ 55 = US$204.05
R$ 56 = US$207.76
R$ 57 = US$211.47
R$ 58 = US$215.18
R$ 59 = US$218.89
R$ 60 = US$222.60
R$ 61 = US$226.31
R$ 62 = US$230.02
R$ 63 = US$233.73
R$ 64 = US$237.44
R$ 65 = US$241.15
R$ 66 = US$244.86
R$ 67 = US$248.57
R$ 68 = US$252.28
R$ 69 = US$255.99
R$ 70 = US$259.70
R$ 71 = US$263.41
R$ 72 = US$267.12
R$ 73 = US$270.83
R$ 74 = US$274.54
R$ 75 = US$278.25
R$ 76 = US$281.96
R$ 77 = US$285.67
R$ 78 = US$289.38
R$ 79 = US$293.09
R$ 80 = US$296.80
R$ 81 = US$300.51
R$ 82 = US$304.22
R$ 83 = US$307.93
R$ 84 = US$311.64
R$ 85 = US$315.35
R$ 86 = US$319.06
R$ 87 = US$322.77
R$ 88 = US$326.48
R$ 89 = US$330.19
R$ 90 = US$333.90
R$ 91 = US$337.61
R$ 92 = US$341.32
R$ 93 = US$345.03
R$ 94 = US$348.74
R$ 95 = US$352.45
R$ 96 = US$356.16
R$ 97 = US$359.87
R$ 98 = US$363.58
R$ 99 = US$367.29
R$ 100 = US$371.00