Aluno: Júlia Alessandra Soares Goulart
Matrícula: 2018015588
Aula 09

Exercício 1

In [3]:
def exercicio_1(n):
    lista = []
    for m in range (1,n+1):
        lista += [(m,m**2)]
    return lista 
print(exercicio_1(5))

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Exercício 2

In [7]:
def exercicio_2(n):
    lista = []
    for m in range (1,n+1):
        lista += [(m, m**2, m**3)]
    return lista
print(exercicio_2(5))

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125)]

Exercício 3

In [1]:
def exercicio_3():
    tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
    return tupla
print (exercicio_3()[0:5])
print (exercicio_3()[5:10])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

Exercício 4

In [11]:
def exercicio_4(lista):
    lista = [[], []]
pares = []
impares = []
for m in range (1,8):
    n = int(input('escolha um número: '))
    if n % 2 == 0:
        pares.append(n)
    else:
        impares.append(n)
j = tuple (pares)
l = tuple (impares)
print (j,l)

escolha um número: 1
escolha um número: 4
escolha um número: 6
escolha um número: 2
escolha um número: 7
escolha um número: 5
escolha um número: 8
(4, 6, 2, 8) (1, 7, 5)

Exercicio 5

In [27]:
def exercicio_5_1():
    tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
    return tupla
print (exercicio_5_1())

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [26]:
def exercicio_5_2():
    lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    julia = tuple(lista)
    return lista
print (exercicio_5_2())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Exercicio 6

In [38]:
def exercicio_6():
    num = 100
lista = [(15,58,80), (20,11,28), (10,25,88)]
lista2 =[]
j,l,a = lista
j1 = list(j)
j1[2] = 100
j2 = tuple(j1)
l1 = list(l)
l1[2] = 100
l2 = tuple(l1)
a1 = list(a)
a1[2] = 100
a2 = tuple(a1)
tupla = (j2,l2,a2)
lista2.append(tupla)
print(lista2)

[((15, 58, 100), (20, 11, 100), (10, 25, 100))]

Exercicio 7

In [38]:
def exercicio_7():
    dolar = float(input("Digite a quantidade de dolar para conversão: "))
cotacao = float(input("Digite o valor da cotação do dólar: "))
real = 0
for dolar in range (1, 101):
    real = cotacao*dolar
    tupla = ((dolar,real))
    print ("US$ %.2d = R$%.2f" % (dolar,real))

Digite o valor da cotação do dólar: 4.1
US$ 01 = R$4.10
US$ 02 = R$8.20
US$ 03 = R$12.30
US$ 04 = R$16.40
US$ 05 = R$20.50
US$ 06 = R$24.60
US$ 07 = R$28.70
US$ 08 = R$32.80
US$ 09 = R$36.90
US$ 10 = R$41.00
US$ 11 = R$45.10
US$ 12 = R$49.20
US$ 13 = R$53.30
US$ 14 = R$57.40
US$ 15 = R$61.50
US$ 16 = R$65.60
US$ 17 = R$69.70
US$ 18 = R$73.80
US$ 19 = R$77.90
US$ 20 = R$82.00
US$ 21 = R$86.10
US$ 22 = R$90.20
US$ 23 = R$94.30
US$ 24 = R$98.40
US$ 25 = R$102.50
US$ 26 = R$106.60
US$ 27 = R$110.70
US$ 28 = R$114.80
US$ 29 = R$118.90
US$ 30 = R$123.00
US$ 31 = R$127.10
US$ 32 = R$131.20
US$ 33 = R$135.30
US$ 34 = R$139.40
US$ 35 = R$143.50
US$ 36 = R$147.60
US$ 37 = R$151.70
US$ 38 = R$155.80
US$ 39 = R$159.90
US$ 40 = R$164.00
US$ 41 = R$168.10
US$ 42 = R$172.20
US$ 43 = R$176.30
US$ 44 = R$180.40
US$ 45 = R$184.50
US$ 46 = R$188.60
US$ 47 = R$192.70
US$ 48 = R$196.80
US$ 49 = R$200.90
US$ 50 = R$205.00
US$ 51 = R$209.10
US$ 52 = R$213.20
US$ 53 = R$217.30
US$ 54 = R$221.40
US$ 55 = R$225.50
US$ 56 = R$229.60
US$ 57 = R$233.70
US$ 58 = R$237.80
US$ 59 = R$241.90
US$ 60 = R$246.00
US$ 61 = R$250.10
US$ 62 = R$254.20
US$ 63 = R$258.30
US$ 64 = R$262.40
US$ 65 = R$266.50
US$ 66 = R$270.60
US$ 67 = R$274.70
US$ 68 = R$278.80
US$ 69 = R$282.90
US$ 70 = R$287.00
US$ 71 = R$291.10
US$ 72 = R$295.20
US$ 73 = R$299.30
US$ 74 = R$303.40
US$ 75 = R$307.50
US$ 76 = R$311.60
US$ 77 = R$315.70
US$ 78 = R$319.80
US$ 79 = R$323.90
US$ 80 = R$328.00
US$ 81 = R$332.10
US$ 82 = R$336.20
US$ 83 = R$340.30
US$ 84 = R$344.40
US$ 85 = R$348.50
US$ 86 = R$352.60
US$ 87 = R$356.70
US$ 88 = R$360.80
US$ 89 = R$364.90
US$ 90 = R$369.00
US$ 91 = R$373.10
US$ 92 = R$377.20
US$ 93 = R$381.30
US$ 94 = R$385.40
US$ 95 = R$389.50
US$ 96 = R$393.60
US$ 97 = R$397.70
US$ 98 = R$401.80
US$ 99 = R$405.90
US$ 100 = R$410.00

In [7]:
def exercicio_7():
    real = float(input("Digite a quantidade de real para conversão: "))
cotacao = float(input("Digite o valor da cotação do real: "))
dolar = 0
for real in range (1, 101):
    dolar = real*cotacao
    tupla = (real,dolar)
    print ("R$ %.2d = US%.2f" % (real,dolar))

Digite o valor da cotação do real: 0.24
R$ 01 = US0.24
R$ 02 = US0.48
R$ 03 = US0.72
R$ 04 = US0.96
R$ 05 = US1.20
R$ 06 = US1.44
R$ 07 = US1.68
R$ 08 = US1.92
R$ 09 = US2.16
R$ 10 = US2.40
R$ 11 = US2.64
R$ 12 = US2.88
R$ 13 = US3.12
R$ 14 = US3.36
R$ 15 = US3.60
R$ 16 = US3.84
R$ 17 = US4.08
R$ 18 = US4.32
R$ 19 = US4.56
R$ 20 = US4.80
R$ 21 = US5.04
R$ 22 = US5.28
R$ 23 = US5.52
R$ 24 = US5.76
R$ 25 = US6.00
R$ 26 = US6.24
R$ 27 = US6.48
R$ 28 = US6.72
R$ 29 = US6.96
R$ 30 = US7.20
R$ 31 = US7.44
R$ 32 = US7.68
R$ 33 = US7.92
R$ 34 = US8.16
R$ 35 = US8.40
R$ 36 = US8.64
R$ 37 = US8.88
R$ 38 = US9.12
R$ 39 = US9.36
R$ 40 = US9.60
R$ 41 = US9.84
R$ 42 = US10.08
R$ 43 = US10.32
R$ 44 = US10.56
R$ 45 = US10.80
R$ 46 = US11.04
R$ 47 = US11.28
R$ 48 = US11.52
R$ 49 = US11.76
R$ 50 = US12.00
R$ 51 = US12.24
R$ 52 = US12.48
R$ 53 = US12.72
R$ 54 = US12.96
R$ 55 = US13.20
R$ 56 = US13.44
R$ 57 = US13.68
R$ 58 = US13.92
R$ 59 = US14.16
R$ 60 = US14.40
R$ 61 = US14.64
R$ 62 = US14.88
R$ 63 = US15.12
R$ 64 = US15.36
R$ 65 = US15.60
R$ 66 = US15.84
R$ 67 = US16.08
R$ 68 = US16.32
R$ 69 = US16.56
R$ 70 = US16.80
R$ 71 = US17.04
R$ 72 = US17.28
R$ 73 = US17.52
R$ 74 = US17.76
R$ 75 = US18.00
R$ 76 = US18.24
R$ 77 = US18.48
R$ 78 = US18.72
R$ 79 = US18.96
R$ 80 = US19.20
R$ 81 = US19.44
R$ 82 = US19.68
R$ 83 = US19.92
R$ 84 = US20.16
R$ 85 = US20.40
R$ 86 = US20.64
R$ 87 = US20.88
R$ 88 = US21.12
R$ 89 = US21.36
R$ 90 = US21.60
R$ 91 = US21.84
R$ 92 = US22.08
R$ 93 = US22.32
R$ 94 = US22.56
R$ 95 = US22.80
R$ 96 = US23.04
R$ 97 = US23.28
R$ 98 = US23.52
R$ 99 = US23.76
R$ 100 = US24.00