# Questão 1

In [2]:
x = int(input("Insira um valor para x: "))
list = []
for elemento in range (0, x + 1):
    tupla = (elemento, (elemento)**2)
    list.append(tupla)
print(list)

Insira um valor para x: 10
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

# Questão 2

In [3]:
x = int(input("Insira um valor para x: "))
list = []
for elemento in range (0, x + 1):
    tupla = (elemento, (elemento)**2, (elemento)**3)
    list.append(tupla)
print(list)

Insira um valor para x: 10
[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125), (6, 36, 216), (7, 49, 343), (8, 64, 512), (9, 81, 729), (10, 100, 1000)]

# Questão 3

In [4]:
dados = (1,2,3,4,5,6,7,8,9,10)
list1 = dados[0:5]
list2 = dados[5:10]
print(list1)
print(list2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Questão 4

In [5]:
dados = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
pares = []
ímpares = []
for i in dados:
    if i%2 == 0:
        pares.append(i)
    else:
        ímpares.append(i)
i = tuple(pares)
j = tuple(ímpares)
print(i,j)

(2, 4, 6, 8, 10, 12, 14) (1, 3, 5, 7, 9, 11, 13, 15)

# Questão 5.1

In [6]:
list = [2,3,5,7,9,11]
dados = tuple(list)
print(dados)

(2, 3, 5, 7, 9, 11)

# Questão 5.2

In [7]:
list = [2,3,5,7,9,11]
a, b, c, d, e, f = list
dados1 = (a, b, c, d, e, f)
print(dados1)

(2, 3, 5, 7, 9, 11)

# Questão 6

In [1]:
lista = [(10,20,30), (30,40,50), (180,201,218)]
dados = []
x,y,z = lista
x1 = list(x)
x1[2] = 100
x2 = tuple(x1)
y1 = list(y)
y1[2] = 100
y2 = tuple(y1)
z1 = list(z)
z1[2] = 100
z2 = tuple(z1)
tupla = (x2, y2, z2)
dados.append(tupla)
print(dados)

[((10, 20, 100), (30, 40, 100), (180, 201, 100))]

# Questão 7.1

In [2]:
cotacao = float(input("Insira o valor da cotação do dólar: "))
dolar = 0
real = 0
for dolar in range (1, 101):
    real = cotacao*dolar
    tupla = (dolar, real)
    print ("US$ %.2d = R$%.2f" % (dolar, real))

Insira o valor da cotação do dólar: 3.24
US$ 01 = R$3.24
US$ 02 = R$6.48
US$ 03 = R$9.72
US$ 04 = R$12.96
US$ 05 = R$16.20
US$ 06 = R$19.44
US$ 07 = R$22.68
US$ 08 = R$25.92
US$ 09 = R$29.16
US$ 10 = R$32.40
US$ 11 = R$35.64
US$ 12 = R$38.88
US$ 13 = R$42.12
US$ 14 = R$45.36
US$ 15 = R$48.60
US$ 16 = R$51.84
US$ 17 = R$55.08
US$ 18 = R$58.32
US$ 19 = R$61.56
US$ 20 = R$64.80
US$ 21 = R$68.04
US$ 22 = R$71.28
US$ 23 = R$74.52
US$ 24 = R$77.76
US$ 25 = R$81.00
US$ 26 = R$84.24
US$ 27 = R$87.48
US$ 28 = R$90.72
US$ 29 = R$93.96
US$ 30 = R$97.20
US$ 31 = R$100.44
US$ 32 = R$103.68
US$ 33 = R$106.92
US$ 34 = R$110.16
US$ 35 = R$113.40
US$ 36 = R$116.64
US$ 37 = R$119.88
US$ 38 = R$123.12
US$ 39 = R$126.36
US$ 40 = R$129.60
US$ 41 = R$132.84
US$ 42 = R$136.08
US$ 43 = R$139.32
US$ 44 = R$142.56
US$ 45 = R$145.80
US$ 46 = R$149.04
US$ 47 = R$152.28
US$ 48 = R$155.52
US$ 49 = R$158.76
US$ 50 = R$162.00
US$ 51 = R$165.24
US$ 52 = R$168.48
US$ 53 = R$171.72
US$ 54 = R$174.96
US$ 55 = R$178.20
US$ 56 = R$181.44
US$ 57 = R$184.68
US$ 58 = R$187.92
US$ 59 = R$191.16
US$ 60 = R$194.40
US$ 61 = R$197.64
US$ 62 = R$200.88
US$ 63 = R$204.12
US$ 64 = R$207.36
US$ 65 = R$210.60
US$ 66 = R$213.84
US$ 67 = R$217.08
US$ 68 = R$220.32
US$ 69 = R$223.56
US$ 70 = R$226.80
US$ 71 = R$230.04
US$ 72 = R$233.28
US$ 73 = R$236.52
US$ 74 = R$239.76
US$ 75 = R$243.00
US$ 76 = R$246.24
US$ 77 = R$249.48
US$ 78 = R$252.72
US$ 79 = R$255.96
US$ 80 = R$259.20
US$ 81 = R$262.44
US$ 82 = R$265.68
US$ 83 = R$268.92
US$ 84 = R$272.16
US$ 85 = R$275.40
US$ 86 = R$278.64
US$ 87 = R$281.88
US$ 88 = R$285.12
US$ 89 = R$288.36
US$ 90 = R$291.60
US$ 91 = R$294.84
US$ 92 = R$298.08
US$ 93 = R$301.32
US$ 94 = R$304.56
US$ 95 = R$307.80
US$ 96 = R$311.04
US$ 97 = R$314.28
US$ 98 = R$317.52
US$ 99 = R$320.76
US$ 100 = R$324.00

# Questão 7.2

In [3]:
cotacao = float(input("Insira o valor da cotação do dólar: "))
for real in range (1, 101):
    dolar = real/cotacao
    tupla = (real,dolar)
    print ("R$ %.2d = US$%.2f" % (real, dolar))

Insira o valor da cotação do dólar: 3.24
R$ 01 = US$0.31
R$ 02 = US$0.62
R$ 03 = US$0.93
R$ 04 = US$1.23
R$ 05 = US$1.54
R$ 06 = US$1.85
R$ 07 = US$2.16
R$ 08 = US$2.47
R$ 09 = US$2.78
R$ 10 = US$3.09
R$ 11 = US$3.40
R$ 12 = US$3.70
R$ 13 = US$4.01
R$ 14 = US$4.32
R$ 15 = US$4.63
R$ 16 = US$4.94
R$ 17 = US$5.25
R$ 18 = US$5.56
R$ 19 = US$5.86
R$ 20 = US$6.17
R$ 21 = US$6.48
R$ 22 = US$6.79
R$ 23 = US$7.10
R$ 24 = US$7.41
R$ 25 = US$7.72
R$ 26 = US$8.02
R$ 27 = US$8.33
R$ 28 = US$8.64
R$ 29 = US$8.95
R$ 30 = US$9.26
R$ 31 = US$9.57
R$ 32 = US$9.88
R$ 33 = US$10.19
R$ 34 = US$10.49
R$ 35 = US$10.80
R$ 36 = US$11.11
R$ 37 = US$11.42
R$ 38 = US$11.73
R$ 39 = US$12.04
R$ 40 = US$12.35
R$ 41 = US$12.65
R$ 42 = US$12.96
R$ 43 = US$13.27
R$ 44 = US$13.58
R$ 45 = US$13.89
R$ 46 = US$14.20
R$ 47 = US$14.51
R$ 48 = US$14.81
R$ 49 = US$15.12
R$ 50 = US$15.43
R$ 51 = US$15.74
R$ 52 = US$16.05
R$ 53 = US$16.36
R$ 54 = US$16.67
R$ 55 = US$16.98
R$ 56 = US$17.28
R$ 57 = US$17.59
R$ 58 = US$17.90
R$ 59 = US$18.21
R$ 60 = US$18.52
R$ 61 = US$18.83
R$ 62 = US$19.14
R$ 63 = US$19.44
R$ 64 = US$19.75
R$ 65 = US$20.06
R$ 66 = US$20.37
R$ 67 = US$20.68
R$ 68 = US$20.99
R$ 69 = US$21.30
R$ 70 = US$21.60
R$ 71 = US$21.91
R$ 72 = US$22.22
R$ 73 = US$22.53
R$ 74 = US$22.84
R$ 75 = US$23.15
R$ 76 = US$23.46
R$ 77 = US$23.77
R$ 78 = US$24.07
R$ 79 = US$24.38
R$ 80 = US$24.69
R$ 81 = US$25.00
R$ 82 = US$25.31
R$ 83 = US$25.62
R$ 84 = US$25.93
R$ 85 = US$26.23
R$ 86 = US$26.54
R$ 87 = US$26.85
R$ 88 = US$27.16
R$ 89 = US$27.47
R$ 90 = US$27.78
R$ 91 = US$28.09
R$ 92 = US$28.40
R$ 93 = US$28.70
R$ 94 = US$29.01
R$ 95 = US$29.32
R$ 96 = US$29.63
R$ 97 = US$29.94
R$ 98 = US$30.25
R$ 99 = US$30.56
R$ 100 = US$30.86