## Exercício 1

In [37]:
def exercicio_1(n):
    lista = []
    for x in range (1,n+1):
        lista += [(x,x**2)]
    return lista
exercicio_1(3)

[(1, 1), (2, 4), (3, 9)]

## Exercício 2

In [38]:
def exercicio_2(n):
    lista = []
    for x in range (1,n+1):
        lista += [(x,x**2,x**3)]
    return lista
exercicio_2(3)

[(1, 1, 1), (2, 4, 8), (3, 9, 27)]

## Exercício 3

In [13]:
def exercicio_3():
    tupla = (1,2,3,4,5,6,7,8,9,10)
    a = print(tupla[:5])
    b = print(tupla[5:])
    x = str(a) + "\n" + str(b)
    return x 
exercicio_3()

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

'None\nNone'

## Exercicio_4

In [42]:
def exercicio_4(t):
    tupla = ()
    t1 = ()
    t2 = ()
    for x in range (0,t+1):
        tupla += x,
        t1 += ((x*2)+1),
        t2 += (x*2),
    return t2 , t1
exercicio_4(3)

((0, 2, 4, 6), (1, 3, 5, 7))

## Exercicio_5

In [41]:
def exercicio_5_1(l):
    tupla = ()
    lista = []
    for x in range (1,l+1):
        tupla += x,
    return tupla
exercicio_5_1(3)

(1, 2, 3)

In [ ]:
def exercicio_5_2(l):
    tupla = ()
    lista = [1,2,3,4]
    a = len(lista)
    while a <= len(lista) :
        tupla += a,
        a -= 1
    return tupla
exercicio_5_2(1)

## Exercicio_6

In [6]:
def exercicio_6(l,n):
    lista = [(10,20,30),(40,50,60),(70,80,90)]
    tupla0 = lista[0]
    tupla1= lista[1]
    tupla2 = lista[2]
    tupla0 = tupla0[:2], + n,
    tupla1 = tupla1[:2], + n,
    tupla2 = tupla2[:2], + n,
    lista2 = [tupla0 , tupla1 , tupla2]
    return lista2 
exercicio_6(1,100)

[((10, 20), 100), ((40, 50), 100), ((70, 80), 100)]

## Exercicio_7

In [36]:
def exercicio_7(cotacao):
    lista = list()
    for d in range (1,101):
        r = d * cotacao
        lista += [(r,d),(d,r)] 
    return lista
exercicio_7(3.95)

[(3.95, 1),
 (1, 3.95),
 (7.9, 2),
 (2, 7.9),
 (11.850000000000001, 3),
 (3, 11.850000000000001),
 (15.8, 4),
 (4, 15.8),
 (19.75, 5),
 (5, 19.75),
 (23.700000000000003, 6),
 (6, 23.700000000000003),
 (27.650000000000002, 7),
 (7, 27.650000000000002),
 (31.6, 8),
 (8, 31.6),
 (35.550000000000004, 9),
 (9, 35.550000000000004),
 (39.5, 10),
 (10, 39.5),
 (43.45, 11),
 (11, 43.45),
 (47.400000000000006, 12),
 (12, 47.400000000000006),
 (51.35, 13),
 (13, 51.35),
 (55.300000000000004, 14),
 (14, 55.300000000000004),
 (59.25, 15),
 (15, 59.25),
 (63.2, 16),
 (16, 63.2),
 (67.15, 17),
 (17, 67.15),
 (71.10000000000001, 18),
 (18, 71.10000000000001),
 (75.05, 19),
 (19, 75.05),
 (79.0, 20),
 (20, 79.0),
 (82.95, 21),
 (21, 82.95),
 (86.9, 22),
 (22, 86.9),
 (90.85000000000001, 23),
 (23, 90.85000000000001),
 (94.80000000000001, 24),
 (24, 94.80000000000001),
 (98.75, 25),
 (25, 98.75),
 (102.7, 26),
 (26, 102.7),
 (106.65, 27),
 (27, 106.65),
 (110.60000000000001, 28),
 (28, 110.60000000000001),
 (114.55000000000001, 29),
 (29, 114.55000000000001),
 (118.5, 30),
 (30, 118.5),
 (122.45, 31),
 (31, 122.45),
 (126.4, 32),
 (32, 126.4),
 (130.35, 33),
 (33, 130.35),
 (134.3, 34),
 (34, 134.3),
 (138.25, 35),
 (35, 138.25),
 (142.20000000000002, 36),
 (36, 142.20000000000002),
 (146.15, 37),
 (37, 146.15),
 (150.1, 38),
 (38, 150.1),
 (154.05, 39),
 (39, 154.05),
 (158.0, 40),
 (40, 158.0),
 (161.95000000000002, 41),
 (41, 161.95000000000002),
 (165.9, 42),
 (42, 165.9),
 (169.85, 43),
 (43, 169.85),
 (173.8, 44),
 (44, 173.8),
 (177.75, 45),
 (45, 177.75),
 (181.70000000000002, 46),
 (46, 181.70000000000002),
 (185.65, 47),
 (47, 185.65),
 (189.60000000000002, 48),
 (48, 189.60000000000002),
 (193.55, 49),
 (49, 193.55),
 (197.5, 50),
 (50, 197.5),
 (201.45000000000002, 51),
 (51, 201.45000000000002),
 (205.4, 52),
 (52, 205.4),
 (209.35000000000002, 53),
 (53, 209.35000000000002),
 (213.3, 54),
 (54, 213.3),
 (217.25, 55),
 (55, 217.25),
 (221.20000000000002, 56),
 (56, 221.20000000000002),
 (225.15, 57),
 (57, 225.15),
 (229.10000000000002, 58),
 (58, 229.10000000000002),
 (233.05, 59),
 (59, 233.05),
 (237.0, 60),
 (60, 237.0),
 (240.95000000000002, 61),
 (61, 240.95000000000002),
 (244.9, 62),
 (62, 244.9),
 (248.85000000000002, 63),
 (63, 248.85000000000002),
 (252.8, 64),
 (64, 252.8),
 (256.75, 65),
 (65, 256.75),
 (260.7, 66),
 (66, 260.7),
 (264.65000000000003, 67),
 (67, 264.65000000000003),
 (268.6, 68),
 (68, 268.6),
 (272.55, 69),
 (69, 272.55),
 (276.5, 70),
 (70, 276.5),
 (280.45, 71),
 (71, 280.45),
 (284.40000000000003, 72),
 (72, 284.40000000000003),
 (288.35, 73),
 (73, 288.35),
 (292.3, 74),
 (74, 292.3),
 (296.25, 75),
 (75, 296.25),
 (300.2, 76),
 (76, 300.2),
 (304.15000000000003, 77),
 (77, 304.15000000000003),
 (308.1, 78),
 (78, 308.1),
 (312.05, 79),
 (79, 312.05),
 (316.0, 80),
 (80, 316.0),
 (319.95, 81),
 (81, 319.95),
 (323.90000000000003, 82),
 (82, 323.90000000000003),
 (327.85, 83),
 (83, 327.85),
 (331.8, 84),
 (84, 331.8),
 (335.75, 85),
 (85, 335.75),
 (339.7, 86),
 (86, 339.7),
 (343.65000000000003, 87),
 (87, 343.65000000000003),
 (347.6, 88),
 (88, 347.6),
 (351.55, 89),
 (89, 351.55),
 (355.5, 90),
 (90, 355.5),
 (359.45, 91),
 (91, 359.45),
 (363.40000000000003, 92),
 (92, 363.40000000000003),
 (367.35, 93),
 (93, 367.35),
 (371.3, 94),
 (94, 371.3),
 (375.25, 95),
 (95, 375.25),
 (379.20000000000005, 96),
 (96, 379.20000000000005),
 (383.15000000000003, 97),
 (97, 383.15000000000003),
 (387.1, 98),
 (98, 387.1),
 (391.05, 99),
 (99, 391.05),
 (395.0, 100),
 (100, 395.0)]