# Exercício 1

In [30]:
def exercício_1(n):
#"""Função que imprime um número n e seu quadrado em uma lista de tuplas"""
    n = 3
    l = []
    for i in range(0,n+1):
        t = (i,i**2) 
        l.append(t)
        print(l)
exercício_1(3)

[(0, 0)]
[(0, 0), (1, 1)]
[(0, 0), (1, 1), (2, 4)]
[(0, 0), (1, 1), (2, 4), (3, 9)]

# Exercício 2

In [7]:
def exercício_2(n):
#"""Função que imprime um número n, seu quadrado e seu cubo em uma lista de tuplas"""
    n = 3
    l = []
    for i in range(0,n+1):
        t = (i,i**2,i**3) 
        l.append(t)
        print(l)
exercício_2(3)

Digite um número:3
[(0, 0, 0)]
[(0, 0, 0), (1, 1, 1)]
[(0, 0, 0), (1, 1, 1), (2, 4, 8)]
[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27)]

# Exercício 3

In [9]:
def exercício_3():
#"""Função que imprime a tupla em duas metades, em linhas distintas"""
    tupla = ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
    print(tupla[:5])
    print(tupla[5:10])
    return
exercício_3()

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Exercícios 4

In [18]:
def exercício_4(t):
#"""Função que imprime os valores pares e impares de uma tupla, separadamente"""
    t = (27,5,40,1,8,2)
    pares = []
    impares = []
    for i in t:
        if i % 2 == 0:
            pares.append(i)
            print(tuple(pares))
        elif i % 2 == 1:
            impares.append(i)
            print(tuple(impares))
    return t
exercício_4(1)

(27,)
(27, 5)
(40,)
(27, 5, 1)
(40, 8)
(40, 8, 2)

(27, 5, 40, 1, 8, 2)

# Exercício 5

In [26]:
def exercício_5_1(l):
#"""Função que transforma uma lista em tupla, de uma maneira"""
    l = [1, 45, 567, 81]
    tupla = ()
    for i in l:
        tupla += i
        print(tupla)
    return l

In [28]:
def exercício_5_2(l):
#"""Função que transforma uma lista em tupla, de outra maneira"""
    l = [1, 45, 567, 81]
    tupla = tuple(l)
    return l

# Exercício 6

In [29]:
def exercício_6(l, n):
#"""Função que troca o último elemento de tuplas"""
    n = int(input('Escreva um número n (por ex 100): '))
    lista = [(10,20,40), (40,50,60), (70,80,90)]
    lista2 = []
    a,b,c = lista
    a1 = list(a)
    a1[2] = n
    b1 = list(b)
    b1[2] = n
    c1 = list(c)
    c1[2] = n
    t = (a1,b1,c1)
    print(t)
    return l, n

# Exercício 7