In [1]:
def exercicio_1(n):
    #Cria tuplas partindo do input de 1 até n e dos quadrados dos valores
    L=list(range(1,n+1))
    B=list()
    for i in range(0,(len(L))):
        B.append(L[i]**2)
    t=[(L[i],B[i])for i in range (0,len(L))]
    return t
exercicio_1(5)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [2]:
def exercicio_2(n):
    #Cria tuplas partindo do input de 1 até n e dos quadrados dos valores
    L=list(range(1,n+1))
    B=list()
    C=list()
    for i in range(0,(len(L))):
        B.append(L[i]**2)
    for i in range(0,(len(L))):
        C.append(L[i]**3)
    t=[(L[i],B[i],C[i])for i in range (0,len(L))]
    return t
exercicio_2(4)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

In [3]:
def exercício_9_3():
    #Imprime a tupla (1,2,3,4,5,6,7,8,9,10) em duas linhas em formato de string
    t=(1,2,3,4,5,6,7,8,9,10)
    a=""
    for i in range(0,len(t)):
        a+=str(t[i])+" "
    b=a[:10]+"\n"+a[10:]
    print(b)
exercício_9_3()

1 2 3 4 5
6 7 8 9 10

In [4]:
def exercicio_9_4(t):
    # De uma tupla inicial dada na entrada, separa em duas tuplas, uma de pares e uma de ímpares
    impares=[]
    pares=[]
    for i in range(0,len(t)):

        if t[i]%2!=0:
            impares.append(t[i])
        else:
            pares.append(t[i])
    impares.sort()
    pares.sort()
    pares=tuple(pares)
    impares=tuple(impares)
    print(pares)
    print(impares)
    return  
exercicio_9_4((7,6,5,4,3,2,1))

(2, 4, 6)
(1, 3, 5, 7)

In [5]:
def exercicio_9_5_1(l):
    #Cria uma tupla de duas maneiras diferentes de uma lista de entrada
    t=()
    for i in range (0,(len(l)),1):
        t+=(l[i],)
    return t
exercicio_9_5_1([1,2,3,4,5])
def exercicio_9_5_2(l):
    c=tuple(l)
    return c
exercicio_9_5_2([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [6]:
def exercicio_6(l,n):
    #Substitui o último elemento de cada tupla dentro de uma lista por um valor escolhido
    lista1=[]
    for i in l:
        a=(i[0],i[1],100)
        lista1.append(a)
    return lista1,n
exercicio_6([(1, 2, 3),(2, 4, 6),(4, 8, 12),(8, 16, 24)],100)

([(1, 2, 100), (2, 4, 100), (4, 8, 100), (8, 16, 100)], 100)

In [7]:
def exercicio_9_7(cotação):
    #Calcula a conversão de reais para dólares e de dólares para reais por um valor de entrada.
    t=[((i,i*cotação),(i,i/cotação)) for i in range (1,101)]
    return t
exercicio_9_7(5)

[((1, 5), (1, 0.2)),
 ((2, 10), (2, 0.4)),
 ((3, 15), (3, 0.6)),
 ((4, 20), (4, 0.8)),
 ((5, 25), (5, 1.0)),
 ((6, 30), (6, 1.2)),
 ((7, 35), (7, 1.4)),
 ((8, 40), (8, 1.6)),
 ((9, 45), (9, 1.8)),
 ((10, 50), (10, 2.0)),
 ((11, 55), (11, 2.2)),
 ((12, 60), (12, 2.4)),
 ((13, 65), (13, 2.6)),
 ((14, 70), (14, 2.8)),
 ((15, 75), (15, 3.0)),
 ((16, 80), (16, 3.2)),
 ((17, 85), (17, 3.4)),
 ((18, 90), (18, 3.6)),
 ((19, 95), (19, 3.8)),
 ((20, 100), (20, 4.0)),
 ((21, 105), (21, 4.2)),
 ((22, 110), (22, 4.4)),
 ((23, 115), (23, 4.6)),
 ((24, 120), (24, 4.8)),
 ((25, 125), (25, 5.0)),
 ((26, 130), (26, 5.2)),
 ((27, 135), (27, 5.4)),
 ((28, 140), (28, 5.6)),
 ((29, 145), (29, 5.8)),
 ((30, 150), (30, 6.0)),
 ((31, 155), (31, 6.2)),
 ((32, 160), (32, 6.4)),
 ((33, 165), (33, 6.6)),
 ((34, 170), (34, 6.8)),
 ((35, 175), (35, 7.0)),
 ((36, 180), (36, 7.2)),
 ((37, 185), (37, 7.4)),
 ((38, 190), (38, 7.6)),
 ((39, 195), (39, 7.8)),
 ((40, 200), (40, 8.0)),
 ((41, 205), (41, 8.2)),
 ((42, 210), (42, 8.4)),
 ((43, 215), (43, 8.6)),
 ((44, 220), (44, 8.8)),
 ((45, 225), (45, 9.0)),
 ((46, 230), (46, 9.2)),
 ((47, 235), (47, 9.4)),
 ((48, 240), (48, 9.6)),
 ((49, 245), (49, 9.8)),
 ((50, 250), (50, 10.0)),
 ((51, 255), (51, 10.2)),
 ((52, 260), (52, 10.4)),
 ((53, 265), (53, 10.6)),
 ((54, 270), (54, 10.8)),
 ((55, 275), (55, 11.0)),
 ((56, 280), (56, 11.2)),
 ((57, 285), (57, 11.4)),
 ((58, 290), (58, 11.6)),
 ((59, 295), (59, 11.8)),
 ((60, 300), (60, 12.0)),
 ((61, 305), (61, 12.2)),
 ((62, 310), (62, 12.4)),
 ((63, 315), (63, 12.6)),
 ((64, 320), (64, 12.8)),
 ((65, 325), (65, 13.0)),
 ((66, 330), (66, 13.2)),
 ((67, 335), (67, 13.4)),
 ((68, 340), (68, 13.6)),
 ((69, 345), (69, 13.8)),
 ((70, 350), (70, 14.0)),
 ((71, 355), (71, 14.2)),
 ((72, 360), (72, 14.4)),
 ((73, 365), (73, 14.6)),
 ((74, 370), (74, 14.8)),
 ((75, 375), (75, 15.0)),
 ((76, 380), (76, 15.2)),
 ((77, 385), (77, 15.4)),
 ((78, 390), (78, 15.6)),
 ((79, 395), (79, 15.8)),
 ((80, 400), (80, 16.0)),
 ((81, 405), (81, 16.2)),
 ((82, 410), (82, 16.4)),
 ((83, 415), (83, 16.6)),
 ((84, 420), (84, 16.8)),
 ((85, 425), (85, 17.0)),
 ((86, 430), (86, 17.2)),
 ((87, 435), (87, 17.4)),
 ((88, 440), (88, 17.6)),
 ((89, 445), (89, 17.8)),
 ((90, 450), (90, 18.0)),
 ((91, 455), (91, 18.2)),
 ((92, 460), (92, 18.4)),
 ((93, 465), (93, 18.6)),
 ((94, 470), (94, 18.8)),
 ((95, 475), (95, 19.0)),
 ((96, 480), (96, 19.2)),
 ((97, 485), (97, 19.4)),
 ((98, 490), (98, 19.6)),
 ((99, 495), (99, 19.8)),
 ((100, 500), (100, 20.0))]