In [11]:
#atividade 1
def exercicio_1(n):
    lista=[]
    for i in range(0,n):
        lista += [(i,i*i)]
    return lista
print(exercicio_1(5))

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [36]:
#atividade2
def exercicio_2(n):
    lista=[]
    for i in range(0,n):
        lista += [(i,i*i,i*i*i)]
    return lista
print(exercicio_1(5))

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

In [57]:
#atividade3
def exercicio_3():
    tupla=(1,2,3,4,5,6,7,8,9,10)
    return (str (tupla[0:len(tupla)//2])+ str ('\n') + str(tupla[len(tupla)//2:len(tupla)]))
saida=exercicio_3()
print (saida)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [55]:
#atividade 4
def exercicio_4(t):
    ordenar= sorted(t)
    t1 = []
    t2 = []
    for i in ordenar:
        if i % 2 == 0:
            t1.append(i)
        else:
            t2.append(i)
    i = tuple(t1)
    k = tuple(t2)
    return t1,t2
t1, t2= exercicio_4((1,2,3,4,5,9,8,12,15,1111,47,23,35,115,178,125,215))
print (t1,t2)

[2, 4, 8, 12, 178] [1, 3, 5, 9, 15, 23, 35, 47, 115, 125, 215, 1111]

In [52]:
#atividade 5.1
def exercicio_5_1(l):
    tupla = tuple(l) 
    return l
exercicio_5_1([10,5,2,78,45])

[10, 5, 2, 78, 45]

In [54]:
#atividade 5.2
def exercicio_5_2(l):
    tupla = tuple(l) 
    return l
exercicio_5_1([10,5,2,78,45])

[10, 5, 2, 78, 45]

In [57]:
def exercicio_6(l, n):
    lista = [] 
    x,y,w = l 
    x1 = list(x)
    x1[2] = n
    x2 = tuple(x1)
    y1 = list(y)
    y1[2] = n
    y2 = tuple(y1)
    w1 = list(w)
    w1[2] = n
    w2 = tuple(w1)
    tupla = (x2,y2,w2)
    lista.append(tupla)
    return lista
exercicio_6([(10,20,30), (40,50,60), (70,80,90)], 100)

[((10, 20, 100), (40, 50, 100), (70, 80, 100))]

In [84]:
def exercicio_7(cotaçao):
    dolar = 0
    real = 0
    for dolar in range (1, 101):
        real = cotaçao*dolar 
        tupla = (dolar, real) 
        return tupla
exercicio_7(3.98)

(1, 3.98)

In [106]:
def exercicio_7(cotaçao):
    dolar = 0
    real = 0
    for dolar in range (1, 101):
        real = cotaçao*dolar
        tupla = (dolar, real)
        tupla2 = (real,dolar)
        return tupla, tupla2 
exercicio_7(3.98)

((1, 3.98), (3.98, 1))