In [15]:
def exercicio_1(n):
    m = []
    for g in range(n+1):
        j = g,g*g
        m.append(j)
    return m
exercicio_1(4)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [16]:
def exercicio_2(n):
    m = []
    for g in range(n+1):
        j = g,g*g,g**3
        m.append(j)
    return m
exercicio_2(4)

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

In [6]:
def exercicio_3():
    tupla = (1,2,3,4,5,6,7,8,9,10)
    ki = str(tupla[:5]),str(tupla[5:])
    ko = ki[0] + str('\n') + ki[1]
    return ko
print(exercicio_3())

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [2]:
def exercicio_4():
    #Ao invés de colocar a tupla como argumento optei por fazer o usuário digitar uma tupla arbitrária com um sentinela
    #que indica quando parar.
    n = 1
    tupla = ()
    par = ()
    ímpar = ()
    while True:
        try:
            m = int(input("Entre com o %dº elemento da Tupla: " %n)) #-1 encerra a entrada de valores
            if m == -1:
                break
            n += 1
            k = m,
            tupla += k
        except ValueError:
            print("Digite apenas números")
    for i in tupla:
        if i%2 == 0:
            par += i,
        else:
            ímpar += i,
    return par , ímpar
exercicio_4()

Entre com o 1º elemento da Tupla: 1
Entre com o 2º elemento da Tupla: 2
Entre com o 3º elemento da Tupla: 3
Entre com o 4º elemento da Tupla: 4
Entre com o 5º elemento da Tupla: 56
Entre com o 6º elemento da Tupla: 6
Entre com o 7º elemento da Tupla: 7
Entre com o 8º elemento da Tupla: 8
Entre com o 9º elemento da Tupla: 9
Entre com o 10º elemento da Tupla: -1

((2, 4, 56, 6, 8), (1, 3, 7, 9))

In [4]:
def exercicio_5_1():
    #Assim como no exercício anterior optei por fazer com que o usuário faça sua própria lista formada por números inteiros.
    lista = []
    n = 1
    tupla = ()
    while True:
        try:
            m = int(input("Entre com o %dº elemento da Lista: " %n)) #-1 encerra a entrada de valores
            if m == -1:
                break
            n += 1
            lista.append(m)
        except ValueError:
            print("Digite apenas números")
    for i in lista:
        tupla += i,
    return tupla
exercicio_5_1()

Entre com o 1º elemento da Lista: 5
Entre com o 2º elemento da Lista: 1
Entre com o 3º elemento da Lista: 40
Entre com o 4º elemento da Lista: -1

(5, 1, 40)

In [3]:
def exercicio_5_2():
    lista = []
    n = 1
    tupla = ()
    while True:
        try:
            m = int(input("Entre com o %dº elemento da Lista: " %n)) #-1 encerra a entrada de valores
            if m == -1:
                break
            n += 1
            lista.append(m)
        except ValueError:
            print("Digite apenas números")
    for k in range(len(lista)):
            tupla += lista[k],
    return tupla
exercicio_5_2()

Entre com o 1º elemento da Lista: 1
Entre com o 2º elemento da Lista: 5
Entre com o 3º elemento da Lista: la
Digite apenas números
Entre com o 3º elemento da Lista: 5
Entre com o 4º elemento da Lista: 10
Entre com o 5º elemento da Lista: 52
Entre com o 6º elemento da Lista: -1

(1, 5, 5, 10, 52)

In [7]:
def exercicio_6(tamanho,w):
    #Função com dois parâmetros de entrada, um para determinar o número de elementos da lista 'sendo sempre cada elemento 
    #uma tupla de 3 elementos' e o outro para determinar o número que substituirá o último elemento da tupla de 3 elementos.
    tupla = ()
    lista = []
    n = 1
    p = 1
    g = 0
    while len(lista) < tamanho:
        try:
            while len(tupla) <= 3:
                if len(tupla) == 3:
                    lista.append(tupla)
                    tupla = ()
                    p += 1
                    n = 1
                    break
                else:
                    m = int(input("Entre com o %dº elemento da %dª Tupla: " %(n,p)))
                n += 1
                k = m,
                tupla += k
        except ValueError:
            print("Digite apenas números")
    for a in range(tamanho):
                lista[a] = lista[a][:2] + (w,)
    return lista
exercicio_6(2,100)

Entre com o 1º elemento da 1ª Tupla: 1
Entre com o 2º elemento da 1ª Tupla: 2
Entre com o 3º elemento da 1ª Tupla: 3
Entre com o 1º elemento da 2ª Tupla: 4
Entre com o 2º elemento da 2ª Tupla: 5
Entre com o 3º elemento da 2ª Tupla: 6

[(1, 2, 100), (4, 5, 100)]

In [13]:
def exercicio_7(cotação):
    #Função que retorna uma lista formada com os valores 'dólar,real' e ' real,dólar'
    tuplar = ()
    lista = []
    lista1 = []
    lista2 = []
    for i in range(101):
        if i != 0:
            conversão =round(i * cotação,2)
            tuplar = conversão,i
            lista1.append(tuplar)
    for t in range(1,101):
        dólar = round(t/cotação,2)
        tuplad = t, dólar
        lista2.append(tuplad)
    for t in range(100):
        k = (lista1[t],lista2[t])
        lista.append(k)
    return lista
exercicio_7(3.98)

[((3.98, 1), (1, 0.25)),
 ((7.96, 2), (2, 0.5)),
 ((11.94, 3), (3, 0.75)),
 ((15.92, 4), (4, 1.01)),
 ((19.9, 5), (5, 1.26)),
 ((23.88, 6), (6, 1.51)),
 ((27.86, 7), (7, 1.76)),
 ((31.84, 8), (8, 2.01)),
 ((35.82, 9), (9, 2.26)),
 ((39.8, 10), (10, 2.51)),
 ((43.78, 11), (11, 2.76)),
 ((47.76, 12), (12, 3.02)),
 ((51.74, 13), (13, 3.27)),
 ((55.72, 14), (14, 3.52)),
 ((59.7, 15), (15, 3.77)),
 ((63.68, 16), (16, 4.02)),
 ((67.66, 17), (17, 4.27)),
 ((71.64, 18), (18, 4.52)),
 ((75.62, 19), (19, 4.77)),
 ((79.6, 20), (20, 5.03)),
 ((83.58, 21), (21, 5.28)),
 ((87.56, 22), (22, 5.53)),
 ((91.54, 23), (23, 5.78)),
 ((95.52, 24), (24, 6.03)),
 ((99.5, 25), (25, 6.28)),
 ((103.48, 26), (26, 6.53)),
 ((107.46, 27), (27, 6.78)),
 ((111.44, 28), (28, 7.04)),
 ((115.42, 29), (29, 7.29)),
 ((119.4, 30), (30, 7.54)),
 ((123.38, 31), (31, 7.79)),
 ((127.36, 32), (32, 8.04)),
 ((131.34, 33), (33, 8.29)),
 ((135.32, 34), (34, 8.54)),
 ((139.3, 35), (35, 8.79)),
 ((143.28, 36), (36, 9.05)),
 ((147.26, 37), (37, 9.3)),
 ((151.24, 38), (38, 9.55)),
 ((155.22, 39), (39, 9.8)),
 ((159.2, 40), (40, 10.05)),
 ((163.18, 41), (41, 10.3)),
 ((167.16, 42), (42, 10.55)),
 ((171.14, 43), (43, 10.8)),
 ((175.12, 44), (44, 11.06)),
 ((179.1, 45), (45, 11.31)),
 ((183.08, 46), (46, 11.56)),
 ((187.06, 47), (47, 11.81)),
 ((191.04, 48), (48, 12.06)),
 ((195.02, 49), (49, 12.31)),
 ((199.0, 50), (50, 12.56)),
 ((202.98, 51), (51, 12.81)),
 ((206.96, 52), (52, 13.07)),
 ((210.94, 53), (53, 13.32)),
 ((214.92, 54), (54, 13.57)),
 ((218.9, 55), (55, 13.82)),
 ((222.88, 56), (56, 14.07)),
 ((226.86, 57), (57, 14.32)),
 ((230.84, 58), (58, 14.57)),
 ((234.82, 59), (59, 14.82)),
 ((238.8, 60), (60, 15.08)),
 ((242.78, 61), (61, 15.33)),
 ((246.76, 62), (62, 15.58)),
 ((250.74, 63), (63, 15.83)),
 ((254.72, 64), (64, 16.08)),
 ((258.7, 65), (65, 16.33)),
 ((262.68, 66), (66, 16.58)),
 ((266.66, 67), (67, 16.83)),
 ((270.64, 68), (68, 17.09)),
 ((274.62, 69), (69, 17.34)),
 ((278.6, 70), (70, 17.59)),
 ((282.58, 71), (71, 17.84)),
 ((286.56, 72), (72, 18.09)),
 ((290.54, 73), (73, 18.34)),
 ((294.52, 74), (74, 18.59)),
 ((298.5, 75), (75, 18.84)),
 ((302.48, 76), (76, 19.1)),
 ((306.46, 77), (77, 19.35)),
 ((310.44, 78), (78, 19.6)),
 ((314.42, 79), (79, 19.85)),
 ((318.4, 80), (80, 20.1)),
 ((322.38, 81), (81, 20.35)),
 ((326.36, 82), (82, 20.6)),
 ((330.34, 83), (83, 20.85)),
 ((334.32, 84), (84, 21.11)),
 ((338.3, 85), (85, 21.36)),
 ((342.28, 86), (86, 21.61)),
 ((346.26, 87), (87, 21.86)),
 ((350.24, 88), (88, 22.11)),
 ((354.22, 89), (89, 22.36)),
 ((358.2, 90), (90, 22.61)),
 ((362.18, 91), (91, 22.86)),
 ((366.16, 92), (92, 23.12)),
 ((370.14, 93), (93, 23.37)),
 ((374.12, 94), (94, 23.62)),
 ((378.1, 95), (95, 23.87)),
 ((382.08, 96), (96, 24.12)),
 ((386.06, 97), (97, 24.37)),
 ((390.04, 98), (98, 24.62)),
 ((394.02, 99), (99, 24.87)),
 ((398.0, 100), (100, 25.13))]