In [7]:
def exercicio_1(n):
    #Dado um inteiro n, a função faz uma lista de tuplas com elementos de 1 até n, onde cada tupla
    #contém n e seu quadrado.
    lista1 = [a for a in range(1,n+1)]
    lista2 = [a**2 for a in range(1,n+1)]
    resultado = [(lista1[i],lista2[i]) for i in range (0,len(lista1))]
    return resultado

[(1, 1), (2, 4), (3, 9)]

In [8]:
def exercicio_2(n):
    #Dado um número inteiro n, a função faz uma lista de tuplas com elementos de 1 até n, onde cada tupla 
    #contém o valor n, seu quadrado e seu cubo.
    lista1 = [a for a in range(1,n+1)]
    lista2 = [a**2 for a in range(1,n+1)]
    lista3 = [a**3 for a in range(1,n+1)]
    resultado = [(lista1[i],lista2[i],lista3[i])for i in range (0,len(lista1))]
    return resultado

[(1, 1, 1), (2, 4, 8), (3, 9, 27)]

In [4]:
def exercicio_3():
    #Transforma a tupla em string e define a variável 'resultado' como dois strings, sendo que o primeiro é a primeira 
    #metade da tupla, e o segundo é a segunda metade da tupla.
    tupla = (1,2,3,4,5,6,7,8,9,10)
    s = ''
    for i in range(0,len(tupla)-1):
        s += str(tupla[i])+' '
    s += str(tupla[len(tupla)-1])
    metade1 = s[0:(len(s)//2)]
    metade2 = s[(len(s)//2):]
    resultado = metade1+ '\n'+ metade2
    return resultado

1 2 3 4 5
6 7 8 9 10

In [25]:
def exercicio_4(t):
    #A função separa uma tupla dada em duas tuplas, uma de valores pares, e outra de valores ímpares, ordenados em ordem
    #crescente
    t1 = ( )
    t2 = ( )
    for a in t:
        if a%2 == 0:
            t1 += a,
        else:
            t2 += a,
    t1 = sorted(t1)
    t2 = sorted(t2)
    return (t1,t2)

([4, 6, 8], [5, 7, 9])

In [34]:
def exercicio_5_1(l):
    #Dada uma lista de números, a função transforma a lista em uma tupla.
    tupla = ( )
    for i in l:
        tupla += i,
    return (tupla)

def exercicio_5_2(l):
    t = tuple(l)
    return (t)

(1, 2, 3)
(5, 2, 3)

In [37]:
def exercicio_6(l,n):
    #Troca o último elemento de todas as tuplas em uma lista de tuplas
    for tupla in l:
        l2 = [tupla[:-1]+(n,) for tupla in l]
    return(l2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [1]:
def exercicio_7(cotacao):
    #Fornece a conversão dólar-real dado um valor para a cotação do dólar.
    real = [a for a in range (1,101)]
    dolar = [a*cotacao for a in range (1,101)]
    r1 = [(round(dolar[i]),round(real[i])) for i in range (0,len(real))]
    r2 = [(round(real[i]),round(dolar[i])) for i in range (0,len(real))]
    resultado = [(r1[i],r2[i]) for i in range (0,len(r1))]
    return (resultado)

[((4, 1), (1, 4)),
 ((8, 2), (2, 8)),
 ((12, 3), (3, 12)),
 ((16, 4), (4, 16)),
 ((20, 5), (5, 20)),
 ((24, 6), (6, 24)),
 ((28, 7), (7, 28)),
 ((32, 8), (8, 32)),
 ((36, 9), (9, 36)),
 ((40, 10), (10, 40)),
 ((44, 11), (11, 44)),
 ((48, 12), (12, 48)),
 ((52, 13), (13, 52)),
 ((56, 14), (14, 56)),
 ((60, 15), (15, 60)),
 ((64, 16), (16, 64)),
 ((68, 17), (17, 68)),
 ((72, 18), (18, 72)),
 ((76, 19), (19, 76)),
 ((80, 20), (20, 80)),
 ((84, 21), (21, 84)),
 ((88, 22), (22, 88)),
 ((92, 23), (23, 92)),
 ((96, 24), (24, 96)),
 ((100, 25), (25, 100)),
 ((103, 26), (26, 103)),
 ((107, 27), (27, 107)),
 ((111, 28), (28, 111)),
 ((115, 29), (29, 115)),
 ((119, 30), (30, 119)),
 ((123, 31), (31, 123)),
 ((127, 32), (32, 127)),
 ((131, 33), (33, 131)),
 ((135, 34), (34, 135)),
 ((139, 35), (35, 139)),
 ((143, 36), (36, 143)),
 ((147, 37), (37, 147)),
 ((151, 38), (38, 151)),
 ((155, 39), (39, 155)),
 ((159, 40), (40, 159)),
 ((163, 41), (41, 163)),
 ((167, 42), (42, 167)),
 ((171, 43), (43, 171)),
 ((175, 44), (44, 175)),
 ((179, 45), (45, 179)),
 ((183, 46), (46, 183)),
 ((187, 47), (47, 187)),
 ((191, 48), (48, 191)),
 ((195, 49), (49, 195)),
 ((199, 50), (50, 199)),
 ((203, 51), (51, 203)),
 ((207, 52), (52, 207)),
 ((211, 53), (53, 211)),
 ((215, 54), (54, 215)),
 ((219, 55), (55, 219)),
 ((223, 56), (56, 223)),
 ((227, 57), (57, 227)),
 ((231, 58), (58, 231)),
 ((235, 59), (59, 235)),
 ((239, 60), (60, 239)),
 ((243, 61), (61, 243)),
 ((247, 62), (62, 247)),
 ((251, 63), (63, 251)),
 ((255, 64), (64, 255)),
 ((259, 65), (65, 259)),
 ((263, 66), (66, 263)),
 ((267, 67), (67, 267)),
 ((271, 68), (68, 271)),
 ((275, 69), (69, 275)),
 ((279, 70), (70, 279)),
 ((283, 71), (71, 283)),
 ((287, 72), (72, 287)),
 ((291, 73), (73, 291)),
 ((295, 74), (74, 295)),
 ((298, 75), (75, 298)),
 ((302, 76), (76, 302)),
 ((306, 77), (77, 306)),
 ((310, 78), (78, 310)),
 ((314, 79), (79, 314)),
 ((318, 80), (80, 318)),
 ((322, 81), (81, 322)),
 ((326, 82), (82, 326)),
 ((330, 83), (83, 330)),
 ((334, 84), (84, 334)),
 ((338, 85), (85, 338)),
 ((342, 86), (86, 342)),
 ((346, 87), (87, 346)),
 ((350, 88), (88, 350)),
 ((354, 89), (89, 354)),
 ((358, 90), (90, 358)),
 ((362, 91), (91, 362)),
 ((366, 92), (92, 366)),
 ((370, 93), (93, 370)),
 ((374, 94), (94, 374)),
 ((378, 95), (95, 378)),
 ((382, 96), (96, 382)),
 ((386, 97), (97, 386)),
 ((390, 98), (98, 390)),
 ((394, 99), (99, 394)),
 ((398, 100), (100, 398))]