In [18]:
#Exercicio 1
lista1 = (1, 2, 3, 4)
lista2 = []
for n in lista1:
    tupla = (n, n*n)
    lista2.append(tupla)
print (lista2)

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [21]:
#Exercicio 2
lista1 = (1, 2, 3, 4)
lista2 = []
for n in lista1:
    tupla = (n, n**2, n**3)
    lista2.append(tupla)
print (lista2)

[(1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

In [6]:
#Exercicio 3
tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
lista1 = tupla[0:5],'', tupla[5:10]
print (lista1)

((1, 2, 3, 4, 5), '', (6, 7, 8, 9, 10))

In [44]:
#Exercicio 4
tupla = 1, 2, 3, 5, 7, 13, 20
pares = []
ímpares = []
for n in tupla:
    if n%2 == 0:
        pares.append(n)
    else:
        ímpares.append(n)
print ("pares = ", pares)
print ("ímpares = ", ímpares)

pares =  [2, 20]
ímpares =  [1, 3, 5, 7, 13]

In [1]:
#Exercico 5 - parte 1
lista = [1, 2, 3, 4]
luiza = tuple(lista)
print(luiza)

(1, 2, 3, 4)

In [3]:
#Exercicio 5 - parte 2 (o retorno)
lista = [10, 20, 30, 40, 50]
a, b, c, d, e = lista
luiza = a, b, c, d, e
print(luiza)

(10, 20, 30, 40, 50)

In [1]:
#Exercicio 6
lista = [(10, 20, 30), (90, 110, 120), (200, 210, 220)]
luiza = []
x,y,z = lista
x1 = list(x)
x1[2] = 100
x2 = tuple(x1)
y1 = list(y)
y1[2] = 100
y2 = tuple(y1)
z1 = list(z)
z1[2] = 100
z2 = tuple(z1)
tupla = (x2, y2, z2)
luiza.append(tupla)
print(luiza)

[((10, 20, 100), (90, 110, 100), (200, 210, 100))]

In [2]:
#Exercicio 7


c = float(input("Insira a cotação atual do dólar: "))
r = 1          
for r in range (1, 101):
        dólar = r*c
        tupla = [dólar, r]
        print("US$ %.2d = R$%.2f" % (dólar, r))
        print("R$ %.2d = US$%.2f" % (r, dólar))

Insira a cotação atual do dólar: 3.24
US$ 03 = R$1.00
R$ 01 = US$3.24
US$ 06 = R$2.00
R$ 02 = US$6.48
US$ 09 = R$3.00
R$ 03 = US$9.72
US$ 12 = R$4.00
R$ 04 = US$12.96
US$ 16 = R$5.00
R$ 05 = US$16.20
US$ 19 = R$6.00
R$ 06 = US$19.44
US$ 22 = R$7.00
R$ 07 = US$22.68
US$ 25 = R$8.00
R$ 08 = US$25.92
US$ 29 = R$9.00
R$ 09 = US$29.16
US$ 32 = R$10.00
R$ 10 = US$32.40
US$ 35 = R$11.00
R$ 11 = US$35.64
US$ 38 = R$12.00
R$ 12 = US$38.88
US$ 42 = R$13.00
R$ 13 = US$42.12
US$ 45 = R$14.00
R$ 14 = US$45.36
US$ 48 = R$15.00
R$ 15 = US$48.60
US$ 51 = R$16.00
R$ 16 = US$51.84
US$ 55 = R$17.00
R$ 17 = US$55.08
US$ 58 = R$18.00
R$ 18 = US$58.32
US$ 61 = R$19.00
R$ 19 = US$61.56
US$ 64 = R$20.00
R$ 20 = US$64.80
US$ 68 = R$21.00
R$ 21 = US$68.04
US$ 71 = R$22.00
R$ 22 = US$71.28
US$ 74 = R$23.00
R$ 23 = US$74.52
US$ 77 = R$24.00
R$ 24 = US$77.76
US$ 81 = R$25.00
R$ 25 = US$81.00
US$ 84 = R$26.00
R$ 26 = US$84.24
US$ 87 = R$27.00
R$ 27 = US$87.48
US$ 90 = R$28.00
R$ 28 = US$90.72
US$ 93 = R$29.00
R$ 29 = US$93.96
US$ 97 = R$30.00
R$ 30 = US$97.20
US$ 100 = R$31.00
R$ 31 = US$100.44
US$ 103 = R$32.00
R$ 32 = US$103.68
US$ 106 = R$33.00
R$ 33 = US$106.92
US$ 110 = R$34.00
R$ 34 = US$110.16
US$ 113 = R$35.00
R$ 35 = US$113.40
US$ 116 = R$36.00
R$ 36 = US$116.64
US$ 119 = R$37.00
R$ 37 = US$119.88
US$ 123 = R$38.00
R$ 38 = US$123.12
US$ 126 = R$39.00
R$ 39 = US$126.36
US$ 129 = R$40.00
R$ 40 = US$129.60
US$ 132 = R$41.00
R$ 41 = US$132.84
US$ 136 = R$42.00
R$ 42 = US$136.08
US$ 139 = R$43.00
R$ 43 = US$139.32
US$ 142 = R$44.00
R$ 44 = US$142.56
US$ 145 = R$45.00
R$ 45 = US$145.80
US$ 149 = R$46.00
R$ 46 = US$149.04
US$ 152 = R$47.00
R$ 47 = US$152.28
US$ 155 = R$48.00
R$ 48 = US$155.52
US$ 158 = R$49.00
R$ 49 = US$158.76
US$ 162 = R$50.00
R$ 50 = US$162.00
US$ 165 = R$51.00
R$ 51 = US$165.24
US$ 168 = R$52.00
R$ 52 = US$168.48
US$ 171 = R$53.00
R$ 53 = US$171.72
US$ 174 = R$54.00
R$ 54 = US$174.96
US$ 178 = R$55.00
R$ 55 = US$178.20
US$ 181 = R$56.00
R$ 56 = US$181.44
US$ 184 = R$57.00
R$ 57 = US$184.68
US$ 187 = R$58.00
R$ 58 = US$187.92
US$ 191 = R$59.00
R$ 59 = US$191.16
US$ 194 = R$60.00
R$ 60 = US$194.40
US$ 197 = R$61.00
R$ 61 = US$197.64
US$ 200 = R$62.00
R$ 62 = US$200.88
US$ 204 = R$63.00
R$ 63 = US$204.12
US$ 207 = R$64.00
R$ 64 = US$207.36
US$ 210 = R$65.00
R$ 65 = US$210.60
US$ 213 = R$66.00
R$ 66 = US$213.84
US$ 217 = R$67.00
R$ 67 = US$217.08
US$ 220 = R$68.00
R$ 68 = US$220.32
US$ 223 = R$69.00
R$ 69 = US$223.56
US$ 226 = R$70.00
R$ 70 = US$226.80
US$ 230 = R$71.00
R$ 71 = US$230.04
US$ 233 = R$72.00
R$ 72 = US$233.28
US$ 236 = R$73.00
R$ 73 = US$236.52
US$ 239 = R$74.00
R$ 74 = US$239.76
US$ 243 = R$75.00
R$ 75 = US$243.00
US$ 246 = R$76.00
R$ 76 = US$246.24
US$ 249 = R$77.00
R$ 77 = US$249.48
US$ 252 = R$78.00
R$ 78 = US$252.72
US$ 255 = R$79.00
R$ 79 = US$255.96
US$ 259 = R$80.00
R$ 80 = US$259.20
US$ 262 = R$81.00
R$ 81 = US$262.44
US$ 265 = R$82.00
R$ 82 = US$265.68
US$ 268 = R$83.00
R$ 83 = US$268.92
US$ 272 = R$84.00
R$ 84 = US$272.16
US$ 275 = R$85.00
R$ 85 = US$275.40
US$ 278 = R$86.00
R$ 86 = US$278.64
US$ 281 = R$87.00
R$ 87 = US$281.88
US$ 285 = R$88.00
R$ 88 = US$285.12
US$ 288 = R$89.00
R$ 89 = US$288.36
US$ 291 = R$90.00
R$ 90 = US$291.60
US$ 294 = R$91.00
R$ 91 = US$294.84
US$ 298 = R$92.00
R$ 92 = US$298.08
US$ 301 = R$93.00
R$ 93 = US$301.32
US$ 304 = R$94.00
R$ 94 = US$304.56
US$ 307 = R$95.00
R$ 95 = US$307.80
US$ 311 = R$96.00
R$ 96 = US$311.04
US$ 314 = R$97.00
R$ 97 = US$314.28
US$ 317 = R$98.00
R$ 98 = US$317.52
US$ 320 = R$99.00
R$ 99 = US$320.76
US$ 324 = R$100.00
R$ 100 = US$324.00